# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:5000/api

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://qwxomwldmuwcridqhnlb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF3eG9td2xkbXV3Y3JpZHFobmxiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUzNzc0MDMsImV4cCI6MjA4MDk1MzQwM30.V3bqYAV1jLkeOAxBL0GM07Tg_8ldYnmIKTeUdUO8YqM
